[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/opt/config/consul/consul.hcl

[Service]
Type=exec
User=fupa
Group=fupa
ExecStart=/usr/bin/consul agent -bind=0.0.0.0 -bootstrap-expect={{ consul_server_count }} -config-dir=/opt/config/consul
ExecReload=/usr/bin/consul reload
ExecStop=/usr/bin/consul leave
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target