[servers]
www.example.com

[servers:vars]
uid=www-example
hostname=www.example.com
ghost_port=2368
ghost_external_port=3001
mail_from=hello@example.com
# containers
ghost_image=ghost
ghost_version=3.28.0
ingress_image=eu.gcr.io/fupas-cr/ingrsvc
ingress_version=latest
# network configuration
vpc=10.0.0.0/16
ansible_user=myuser
ansible_ssh_private_key_file=~/.ssh/mykey
