[Unit]
Description=Fupas Ingress Router (Caddy)
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/opt/config/caddy/Caddyfile

[Service]
Type=exec
KillMode=none
Restart=on-failure
Environment="XDG_CONFIG_HOME=/opt/config"
Environment="XDG_DATA_HOME=/opt/data"
ExecStart=/usr/bin/router run --config /opt/config/caddy/Caddyfile --environ --adapter caddyfile
ExecReload=/usr/bin/router reload --config /opt/config/caddy/Caddyfile
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
